@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic.ttf");
}

/* header */

.header {
    width: 100%;
    height: 100px;
    background: linear-gradient(#315369, #315166);
    border-bottom: solid 3px #FCE4E7;
}

.item {
    height: 105px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.menu {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin: 0 28px 0 54px;
    transition: all 0.3s;
}

.menu2 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin: 0 29px;
    transition: all 0.3s;
}

.menu3 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin: 0 30px;
    transition: all 0.3s;
}

.menu4 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin: 0 30px;
    transition: all 0.3s;
}

.item a:hover {
    color: #FCE4E7;
    opacity: 0.5;
}

/* footer */

.footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(#00577c 0%, #004562 0%, #003f59 0%, #002c3e 100%);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px black;
    font-family: 'せのびゴシック';
}

.footer p {
    color: white;
    font-size: 14px;
}
