@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic-Bold.ttf");
}
@font-face {
    font-family: "せのびレギュラー";
    src: url("../fonts/Senobi-Gothic-Regular\ 20.58.13.ttf");
}

header {
    height: 129px;
}

body {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 30px;
    background: -moz-linear-gradient(top, #355469, #1b2a35);
    background: -webkit-linear-gradient(top, #355469, #1b2a35);
    background: linear-gradient(to bottom, #355469, #1b2a35);
    position: relative;
}

img.pic1 {
    position: absolute;
    width: 375px;
    height: 325px;
    top: -137px;
    left: -330px;
}

img.pic2 {
    position: absolute;
    bottom: -163px;
    right: -320px;
}

.body {
    font-family: "せのびレギュラー";
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: 142px 0;
}

form {
    width: 1448px;
    margin: 0 auto;
}

.search {
    height: 539px;
    background-image: url("/img/search-back.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.serchin {
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -8px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one {
    display: flex;
    flex-direction: column;
    width: 385px;
    text-align: center;
    /* margin-top: -9px; */
}

label {
    color: #fff;
    padding-bottom: 23px;
    font-family: "せのびレギュラー";
    font-size: 20px;
}

input.free {
    font-size: 18px;
    padding-left: 10px;
}

input.base {
    font-size: 18px;
    padding-left: 4px;
    text-align: left;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

input.base option {
    background-color: #fff;
    color: #333;
}

.free > input::-webkit-input-placeholder {
    color: #355469;
    opacity: 0.5;
    font-size: 18px;
    vertical-align: middle;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin-bottom: 36px;
}

.free {
    line-height: 2;
}

.base {
    width: 230px;
    text-align: center;
    margin-bottom: 19px;
    line-height: 2.2;
}

@font-face {
    font-family: "IonIcons";
    src: url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix")
            format("embedded-opentype"),
        url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1")
            format("truetype"),
        url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1")
            format("woff"),
        url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

.select-wrap {
    position: relative;
}

.select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 0;
    content: "\f123";
    font-family: "IonIcons";
    line-height: 50px;
    color: #7f878c;
    pointer-events: none;
    font-size: 18px;
}

select {
    outline: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: #fff;
    vertical-align: middle;
    font-size: 18px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 42px;
    padding: 8px 12px;
    border: none;
    color: #828c9a;
    width: 236px;
    margin-top: -1px;
}

button {
    padding: 0;
}

.button {
    display: inline;
    width: 255px;
    margin: 0 auto;
    background-color: inherit;
    border: 0;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button:active {
    position: relative;
    top: 2px;
}

.push {
    height: 412px;
}
