@font-face {
  font-family: "せのびゴシック";
  src: url("../fonts/Senobi-Gothic.ttf");
}

header {
  height: 129px;
}

body {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 30px;
  font-family: 'せのびゴシック';
  background: -moz-linear-gradient(top, #355469, #1B2A35);
  background: -webkit-linear-gradient(top, #355469, #1B2A35);
  background: linear-gradient(to bottom, #355469, #1B2A35);
  position: relative;
}


footer {
  width: 100%;
  height: 135.66px;
  background-color: #333;
  position: absolute;
  bottom: 0;
}


/* --------------------------------
          main-top
-------------------------------- */
.main-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 127px;
  margin-right: 58px;
  color: #fff;
}

.main-top::after {
  content: url(img/record-list_cocktail.png);
  position: absolute;
  top: 97px;
  right: 55px;
}

.main-top h1 {
  width: 430px;
  border-bottom: solid 1px #FCE4E7;
  text-align: right;
  font-size: 40px;
  font-family: 'はれのそら明朝';
  padding-bottom: 23px;
}

.main-top-right {
  margin-top: -22px;
}

.main-top-right .navbar {
  background-color: transparent !important;
}

.main-top-right .navbar .container-fluid {
  padding-right: var(--bs-gutter-x, 1rem);
}

.navbar .navbar-nav .nav-item:nth-child(2) {
  margin-left: 18px;
}

.navbar .navbar-nav .nav-link {
  padding: 0;
  transition: all 0.9s;
}

.navbar .navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.navbar .navbar-nav .nav-link img {
  border-radius: 11px;
}

.nav-link {
  margin-top: 5px;
  margin-right: 5px;
}

.memory-count {
  position: absolute;
  top: -24px;
  right: 17px;
  font-family: "ヒラギノ丸ゴ ProN";
  font-size: 20px;
  color: #fff;
}

.memory-count p {
  margin: 0;
}

.search-box .form-control {
  width: 356px;
  height: 52px;
  border: 0;
  border-radius: 10px;
  font-family: "ヒラギノ丸ゴ ProN", "FontAwesome";
  font-size: 23px;
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4) inset;
}

.search-box .form-control::placeholder {
  color: #7e6f5a;
}

/* -------------------
詳細画面
------------------- */


.nav1 {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  font-family: 'ヒラギノ丸ゴ';
  font-size: 18px;
  width: 346px;
}

.nav2 a {
  color: #fff;
  text-decoration: none;
}

.nav>.free {
  line-height: 2.6;
  width: 342px;
  border-radius: 15px;
}

.frame {
  display: flex;
  justify-content: center;
}

.detail {
  width: 1325px;
  height: 126px;
  margin-top: 47px;
  background: -moz-linear-gradient(top, #BAA68B, #5D5346);
  background: -webkit-linear-gradient(top, #BAA68B, #5D5346);
  background: linear-gradient(to bottom, #BAA68B, #5D5346);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-left: 64px;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ';
}

.head img {
  padding-right: 57px;
  padding-top: 10px;
}

.head a {
  color: #fff;
  text-decoration: none;
}

.center {
  width: 1325px;
  height: auto;
  background-color: #fff;
  opacity: 0.8;
}

.centerin {
  width: 1078.88px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 60px;
}

.calumn {
  width: 496.31px;
}

.calumn p {
  font-size: 17px;
  font-family: 'Noto Serif Myanmar';
  font-weight: SemiBold;
  color: #00577C;
  font-weight: 600;
}

.calumn h1 {
  font-size: 40px;
  font-family: 'Noto Serif Myanmar';
  color: #2B843C;
  margin-top: 20px;
  font-weight: bold;
}

.left img {
  width: 496.31px;
  height: 579.17px;
}

.block {
  display: flex;
  width: 477px;
  font-family: 'ヒラギノ丸ゴ ProN';
}

.right {
  margin-top: 101px;
}

.square {
  background-color: #355469;
  font-size: 23px;
  width: 108px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .2),
    6px 6px 5px 3px rgba(0, 0, 0, .2) inset;
  color: #fff;
}

.block {
  margin-bottom: 3px;
}

.material {
  width: 477px;
  color: black;
}

.sub {
  font-size: 30px;
  font-family: 'Noto Serif Myanmar';
  color: #00577C;
  border-bottom: solid 1px #BAA68B;
  font-weight: bold;
  margin-top: 47px;
  padding-left: 7px;
  margin-bottom: 0;
}

.none {
  color: #355469;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.material .one {
  width: 477px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #BAA68B;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 10px;
  padding-right: 15px;
}

.sub1 {
  margin-top: 75px;
}

.one1 {
  text-align: left;
  padding-top: 17px;
  padding-bottom: 26px;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.2em
}

.detail img {
  transition: .3s;
}

.detail img:hover,
.btn:hover {
  opacity: 0.8;
  transition: .3s;
}

.detail img:active,
.nav-link img:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.push {
  height: 412px;

}